@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add custom styles for project cards hover effect */
.project-card:hover .project-overlay {
    opacity: 1;
  }
  
  .project-image {
    transition: transform 0.3s ease-in-out;
  }
  
  .project-card:hover .project-image {
    transform: scale(1.1);
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-420%);
    }
  }
  
  .animate-scroll {
    animation: scroll 80s linear infinite;
  }
  
  .animate-scroll-fast {
    animation: scroll 40s linear infinite; /* Doubled the speed by halving the duration */
  }